:root {
  --sprout-color: #708C82;
  --lavender-color: #654795;
}

.text-sprout {
  color: var(--sprout-color) !important;
}

.bg-sprout {
  background-color: var(--sprout-color) !important;
}

.border-sprout {
  border-color: var(--sprout-color) !important;
}

.btn-sprout {
  color: #fff;
  background-color: var(--sprout-color);
  border-color: var(--sprout-color);
}

.btn-sprout:hover {
  color: #fff;
  background-color: #5e7469;
}

.text-lavender {
  color: var(--lavender-color) !important;
}

.bg-lavender {
  background-color: var(--lavender-color) !important;
}

.border-lavender {
  border-color: var(-lavender-color) !important;
}

.btn-lavender {
  color: #fff;
  background-color: var(--lavender-color);
  border-color: var(--lavender-color);
}

.btn-lavender:hover {
  color: #fff;
  background-color: #432a6d;
}

.modal-fit-content.modal-dialog {
  width: fit-content;
  max-width: 90vw;
}

/* Scale down */
.scale-down-exit {
  transform: scale(1);
  opacity: 1;
}

.scale-down-exit-active {
  transform: scale(0.5);
  opacity: 0;
  transition: opacity 800ms, transform 300ms ease-in;
}

.star {
  font-size: 2rem;
  color: gold;
}

.star.empty {
  color: lightgray;
}

.project-card {
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-screensheet {
  cursor: pointer;
}